<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    * ARQUIVO DE MANIFESTO:
        - Contém as configurações de instalação do aplicativo
        - Possui duas seções:
            - (1) declaração de permissões
            - (2) configuração da aplicação
    -->

    <!-- ======================================================================================= -->
    <!-- PERMISSÕES ............................................................................ -->
    <!-- ======================================================================================= -->
    <!-- Declaração das permissões de todos os recursos que o aplicativo deverá acessar. -->

    <!-- Acesso à Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Acesso à Geolocalização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- ======================================================================================= -->
    <!-- APLICAÇÃO ............................................................................. -->
    <!-- ======================================================================================= -->
    <!-- Declaração das configurações da aplicação, como nome, ícones, atividades, serviços, etc -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CursoAndroid"
        tools:targetApi="31">


        <!-- Atividade principal - será chamada pelo ícone da aplicação -->
        <activity
            android:name=".activities.RecyclerActivity"
            android:exported="true">

            <!-- Filtro de intenção que declara essa como a atividade principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Todas as atividades que a aplicação for utilizar devem estar declaradas aqui -->
        <activity android:name=".activities.DataBindingActivity" />
        <activity android:name=".activities.ComponentesActivity" />

    </application>

</manifest>